@import "./base.css";

#app,
body {
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: manipulation;
  background-color: var(--black);
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
  color: white;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

